p{
    font-size: 18px;
    font-family: "Lucida Console", Courier, monospace;
}
span{
    color:  rgb(25,135,84);
}

.main{
    font-weight: 600;
    font-size: 30px;
}

li{
    list-style-type: none;
}